.services-container {
  margin: 0;
  padding-top: 4.8rem;
  display: grid;
  grid-template-columns: 30fr 70fr;
  grid-template-rows: 1fr;
}

h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: block;
  font-size: 2.5rem;
  font-weight: 300;
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
  color: #ced4da;
  grid-column: 1/-1;
  color: rgba(240, 62, 62, 0.874);
}

.services {
  margin-top: 2.2rem;
  background-color: #fff;
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 1)
    ),
    url("../../images/services.jpg");
  background-size: cover;
  background-position: top;
  width: 100%;
}
.services-ad {
  display: block;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #f1f3f5;
  font-size: 5rem;
  font-weight: 500;
  text-align: center;
  margin-top: 1.4rem;
  margin-bottom: 0;
  grid-column: 1/-1;
}

.services-provided {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  margin-top: 2.2rem;
  background-color: #fff;
  align-items: center;
  justify-items: center;
  padding: 1.2rem 0 6.2rem 13.4rem;
  gap: 9.6rem 8.8rem;
}

span {
  display: inline-block;
  font-size: 6.8rem;
  font-weight: 600;
  color: #dee2e6;
  transform: translateY(35%);
}
/* /////////////AC//////////// */

.ac-unit {
  max-width: 65%;
  border-radius: 32px;
  box-shadow: 4px 12px 24px rgba(0, 0, 0, 0.226);
  border: solid 1.2px rgba(0, 0, 0, 0.1);
  padding: 0.8rem;
}
.ac-services h3 {
  font-size: 3rem;
  font-weight: 600;
  margin-top: 2rem;
}

.ac-services p {
  font-size: 1.8rem;
  letter-spacing: 1.1px;
  max-width: 85%;
}

.ac-unit:hover {
  transform: scale(104%);
  box-shadow: 8px 24px 32px rgba(0, 0, 0, 0.226);
}

/* ////////////FURNACE */

.furnace-unit {
  max-width: 65%;

  margin-top: 6rem;
  border-radius: 32px;
  box-shadow: 4px 12px 24px rgba(0, 0, 0, 0.226);
  border: solid 1.2px rgba(0, 0, 0, 0.1);
  padding: 0.8rem;
}
.furnace-unit:hover {
  transform: scale(104%);
  box-shadow: 8px 24px 32px rgba(0, 0, 0, 0.226);
}
.furnace-img {
  grid-column: 1/2;
  grid-row: 2/3;
}
.furnace-unit {
  align-self: start;
}

.furnace-services {
  grid-column: 2/3;
  align-self: start;
}
.furnace-services p {
  font-size: 1.8rem;
  letter-spacing: 1.1px;
  max-width: 85%;
}

.furnace-services h3 {
  font-size: 2.4rem;
  font-weight: 600;
}

/* WATER HEATER */
.water-heater-services {
  align-self: flex-start;
}
.water-heater-services p {
  font-size: 1.8rem;
  letter-spacing: 1.1px;
  max-width: 85%;
}
.water-heater-services h3 {
  font-size: 2.4rem;
  font-weight: 600;
}

.water-heater-unit {
  display: block;
  max-width: 60%;
  margin-top: 6rem;
  border-radius: 32px;
  box-shadow: 4px 12px 24px rgba(0, 0, 0, 0.226);
  border: solid 1.2px rgba(0, 0, 0, 0.1);
  padding: 0.8rem;
}

.water-heater-unit:hover {
  transform: scale(104%);
  box-shadow: 8px 24px 32px rgba(0, 0, 0, 0.226);
}

/* /////////////////BOILER /////////// */
.boilers {
  max-width: 80%;
  display: block;
  margin-top: 6rem;
  border-radius: 32px;
  border: solid 1.2px rgba(0, 0, 0, 0.1);
  padding: 0.8rem;
}
.boilers-img {
  grid-column: 1/2;
  grid-row: 4/5;
}

.boilers:hover {
  transform: scale(104%);
  box-shadow: 8px 24px 32px rgba(0, 0, 0, 0.226);
}
.boiler-services {
  grid-column: 2/3;
}
.boiler-services h3 {
  font-size: 2.4rem;
  font-weight: 600;
}
.boiler-services p {
  font-size: 1.8rem;
  letter-spacing: 1.1px;
  max-width: 85%;
}

/* MEDIA QUERIES */

@media (max-width: 1200px) {
  .services-provided {
    display: flex;
    flex-direction: column;
    row-gap: 0;
    padding-left: 0;
  }
  .ac {
    grid-row: 2/3;

    transform: scale(90%);
  }
  .ac-unit {
    transform: scale(85%);
    display: block;
    margin: 0 auto;
  }

  .ac-services {
    text-align: center;
    padding: 2.5rem 2.5rem;
  }

  .ac-services p {
    margin: 0 auto;
    text-align: left;
  }

  .services-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .furnace-services {
    text-align: center;
    padding: 0rem 1.2rem;
  }
  .furnace-services p {
    margin: 0 auto;
    text-align: left;
    max-width: 85%;
  }
  .furnace-unit {
    display: block;
    margin: 0 auto;
    transform: scale(75%);
  }
  .water-heater-services {
    text-align: center;
    padding: 0 2.5rem 2.5rem 2.5rem;
  }
  .water-heater-services p {
    margin: 0 auto;
    max-width: 85%;
    text-align: left;
  }
  .water-heater-unit {
    display: block;
    margin: 6rem auto;
    max-width: 40%;
  }

  /* Boilers */

  .boiler-services p {
    margin: 0 auto;
    max-width: 85%;
    text-align: left;
  }
  .boiler-services {
    text-align: center;
    padding: 2.5rem 2.5rem;
  }
  .boilers {
    display: block;
    margin: 0rem auto;
    transform: scale(85%);
  }
}

@media (max-width: 768px) {
  html {
    font-size: 50%;
  }
  .ac-unit {
    max-width: 100%;
  }
  .ac-services h3 {
    font-size: 2.7rem;
    padding: 0 1.1rem;
  }

  .ac-services p {
    font-size: 2rem;

    width: 98%;
    letter-spacing: 1px;
  }

  .ac-services span {
    margin-bottom: 1.2rem;
  }

  .furnace-unit {
    max-width: 100%;
  }
  .furnace-services span {
    margin-bottom: 1.2rem;
  }

  .furnace-services h3 {
    font-size: 2.7rem;
    padding: 0 1.1rem;
  }

  .furnace-services p {
    font-size: 2rem;
    text-align: left;
    width: 98%;
    margin-left: 4.2rem;
    letter-spacing: 1px;
  }

  .water-heater-unit {
    max-width: 75%;
  }
  .water-heater-services span {
    margin-bottom: 1.2rem;
  }
  .water-heater-services h3 {
    font-size: 2.7rem;
    padding: 0 1.1rem;
  }
  .water-heater-services p {
    font-size: 2rem;

    /* width: 95vw; */
    margin-left: 4.2rem;
    letter-spacing: 1px;
  }

  /*  //////*/
  .boilers {
    max-width: 95%;
  }

  .boiler-services span {
    margin-bottom: 1.2rem;
  }
  .boiler-services h3 {
    font-size: 2.7rem;
    padding: 0 1.1rem;
  }
  .boiler-services p {
    font-size: 2rem;
    text-align: left;
    width: 100%;
    margin-left: 4.2rem;
    letter-spacing: 1px;
  }
}

@media (max-width: 550px) {
  .services-ad {
    max-width: 100%;
    padding: 1.2rem;
  }
  .ac-unit {
    transform: scale(90%);
  }
}
